.container-fluid {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(212, 45%, 89%);
}

.box {
  width: 20vw;
  height: 65vh;
  padding: 10px;
  border-radius: 10px;
  background-color: hsl(0, 0%, 100%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.img {
  width: 100%;
  border-radius: 10px;
}

.text h5 {
  font-weight: 700;
}

.text p {
  font-weight: 400;
}

@media screen and (max-width: 600px) {
  .box {
    width: 90vw;
    height: 70vh;
  }
  .text h5,
  p {
    font-size: 25px;
  }
}
